.hf-tiny-margin {
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

.hf-small-margin {
  margin: {
    top: 20px;
    bottom: 20px;
  }
}

.hf-medium-margin {
  margin: {
    top: 40px;
    bottom: 40px;
  }
}

.hf-well {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
}

.hf-danger,
.danger {
  color: #a00;
}

.hf-clear,
.clear {
  clear: both;
}

.hf-italic {
  font-style: italic;
}

.hf-small {
  font-size: 90%;
}

.pull-right,
.hf-pull-right {
  float: right;
}

.hf-required {
  color: indianred;
  font-size: 110%;
}

.hf-muted {
  font-weight: normal;
  font-size: 90%;
  color: #999;
}

.hf-row {
  display: flex;
}

.hf-col-1 {
  width: 100% / 6 * 1;
}

.hf-col-2 {
  width: 100% / 6 * 2;
}

.hf-col-3 {
  width: 100% / 6 * 3;
}

.hf-col-4 {
  width: 100% / 6 * 4;
}
