.hf-small-margin {
  margin: {
    top: 20px;
    bottom: 20px;
  }
}

.hf-medium-margin {
  margin: {
    top: 40px;
    bottom: 40px;
  }
}

.hf-tab {
  display: none;
  background: inherit;
  border: none;
  font-weight: initial;

  &.hf-tab-active {
    display: block;
  }

  h2{
    margin-top: 20px;
  }
}

.accordion{
  border: 1px solid #e5e5e5;
  margin-bottom: 6px;
}

.accordion-heading {
  color: #555555;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 10px 11px 14px;
  line-height: 21px;
  cursor: pointer;
  position: relative;
  margin: 0;
  font-size: 14px;

  &:hover {
    color: #23282d;
    background: #f5f5f5;
  }
}

.accordion-heading:after {
  content: '\f140';
  font: normal 20px/1 'dashicons';
  float: right;
  right: 20px;
}

.accordion.expanded .accordion-heading:after {
  content: "\f142";
}

.accordion-content {
  padding: 20px;
  background: #fff;
}

.danger {
  color: #a00;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.hf-italic {
  font-style: italic;
}

.hf-small {
  font-size: 90%;
}

.hf-pull-right {
  float: right;
}

.hf-field-builder {
  h4:first-of-type{
    margin-top: 0;
  }

  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;

  label{
    display: block;
    font-weight: bold;

    &.inline,
    span {
      font-weight: normal;
    }
  }

  .help { margin-top: 0; }

  input[type="text"] {
    width: 100%;
  }

  .available-fields button {
    margin-right: 4px;
  }

  .field-config *:last-child {
    margin-bottom: 0;
  }
}




@import "codemirror";
