.hf-tab {
  display: none;
  background: inherit;
  border: none;
  font-weight: initial;

  &.hf-tab-active {
    display: block;
  }

  h2{
    margin-top: 20px;
  }
}

.hf-accordion{
  border: 1px solid #e5e5e5;
  margin-bottom: 6px;
}

.hf-accordion-heading {
  color: #555555;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 10px 11px 14px;
  line-height: 21px;
  cursor: pointer;
  position: relative;
  margin: 0;
  font-size: 14px;

  &:hover {
    color: #23282d;
    background: #f5f5f5;
  }

  &:after {
    content: '\f140';
    font: normal 20px/1 'dashicons';
    float: right;
    right: 20px;
  }
}

.hf-accordion.expanded .hf-accordion-heading:after {
  content: "\f142";
}

.hf-accordion-content {
  padding: 20px;
  background: #fff;
}

.hf-action-summary {
  display: none;
}



.hf-field-builder {
  h4:first-of-type{
    margin-top: 0;
  }

  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;

  label{
    display: block;
    font-weight: bold;

    &.inline,
    span {
      font-weight: normal;
    }
  }

  input + .help { margin-top: 0; }

  input[type="text"] {
    width: 100%;
  }

  .available-fields button {
    margin-right: 4px;
  }

  .field-config *:last-child {
    margin-bottom: 0;
  }
}

.hf-column:hover {
  .hf-column-menu { display: block; }
}

.hf-column-menu {
  display: none;
  float: right;
  position: relative;

  .submenu-toggle {
    &:after {
      content: "\f333";
      font: normal 20px/1 'dashicons';
      float: right;
      right: 20px;
    }
  }
  .submenu {
    border: 1px solid #e1e1e1;
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    min-width: 140px;
    background: white;

    a {
      font-size: 12px;
      padding: 2px 4px;
      text-align: right;
      display: block;
      border-bottom: 1px dotted #e1e1e1;
    }
  }

  &:hover {
    .submenu { display: block; }
  }
}

@import "admin_util";
@import "codemirror";
